<html>
<head>
<meta charset="UTF-8">
<title>facesound game</title>

<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="container">
      <div class="content start-screen">
          <div class="game-title">facesound game</div>

          <div class="btns-div">
            <a href="/game">
                <button class="start-btn" id="play-btn">play</button>
            </a>
            <a href="/leaderboard">
                <button class="start-btn" id="leaderboard-btn">leaderboard</button>
            </a>
            <a href="/instructions">
                <button class="start-btn" id="instructions-btn">instructions</button>
            </a>
        </div>
        </div>
  </div>
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>