body, html {
    margin:0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    background-color: black;
  
    font-family: "Andale Mono", sans-serif;
    font-size: 12px;
}

#canvas {
    color: white;
    position:relative;
    width: 100%;
    /* padding-bottom: 75%; /* maintains aspect ratio of 4:3 */
}
  
#canvas .p5-canvas {
    /* float:right; */
    width: 100%;
    position: absolute;
    z-index: 10!important;
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
}

.content {
    width: 80%;
    height: 100%;
    margin: 0 10%;
}

.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: white!important;
}

.game-title {
    margin-top: 20em;
    margin-bottom: 10em;
}

.submenu-title {
    margin-top: 20em;
    margin-bottom: 1em;
}

.instructions {
    width: 40%;
    margin-bottom: 2em;
}

.btns-div {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.start-btn {
    width: 15em;
    border:none;
    padding: 1em 2em;
    font-family: inherit;
    font-size: inherit;
}

.start-btn:hover {
    background-color: lightgrey;
}

a {
    color: black;
    text-decoration: none;
}
